body {background: black;
  color: white;
}
nav {
  font-size: 15px;
}
h1 {
  text-align: center;
  font-family: 'Notable';
  color: white;
  margin: 0;
  padding: 0;
  letter-spacing: 5px;
}
h3 {
  color: white;
  font-family: 'Notable';
  text-align: center;
  margin: 0;
  padding: 20px;
}
nav ul {
  list-style-type: none;
  font-family: 'Notable';
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #111;
}
nav li {
  float: left;
	border-right: 1px solid #bbb;
}
nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
nav li a:hover {
  background-color: #424242;
}
section#banda1 li {
  float: left;
  width: 25%;
  list-style: none;
}
ul#banda2 li{
  text-align: center;
}
#banda1 li p {
  text-align: justify;
  padding: 25px;
}
table ul ol {
  padding: 0px;
  text-align: center;
  list-style: none;
}
table ul {
  padding: 0px;
  list-style: none;
}
#submenu {
  position: absolute;
  display: none;
  padding: 0;
}
#menu li:hover #submenu {
  display: block;
	color: white;
}
#contact {
  padding: 100px;
  padding-top: 0px;
  background-color: #424242;
}
#banda1 {
  color: white;
  overflow: auto;
}
#banda2 {
  overflow: auto;
}
#history {
  background-color: #424242;
}
#iconos {
  text-align: center;
  font-size: 20px;
}
.flex-item1 a {
  color: white;
  font-size: 17px;
}
.song-list {
  list-style: none;
}
.historia {
  color: white;
  height: 100%; 
  text-align: center;
  font-size: 15px;
  background-color: #424242;
  padding: 20px;
}
.row {
  margin: 0;
  padding: 2% 4% 4% 4%;
  width: 100%;
}
.column {
  float: left;
  width: 25%;
  padding: 7px;
  text-align: center;
}
.galery-foto{
  padding: 2%;
  border-radius: 25px;
}
.flex-container1 {
  padding: 20px;
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
}
.flex-item1 {
  width: 300px;
  height: auto;
  text-align: center;
  margin: 10px 80px 5px 0;
}
.img-effect1{
  filter: grayscale(0);
  box-shadow: 6px 6px 12px -5px rgba(0,0,0,0.52);  
}
.img-effect1:hover{
  filter: grayscale(100%);
}



.item {
  position: relative;  
  flex: 1 1 20%;
  padding-right: 34px;
  overflow: hidden;
}
.albumimg {
  transition: all 0.5s;
  opacity: 1;
}
.textodisco {
  position: absolute;
  bottom: 66px;
  padding-right: 14px;
  font-size: 9pt;
  font-family: 'Raleway', sans-serif;
  transform: translateY(150%);
  transition: all 0.5s ease-out;
}
.tx1 {
  bottom: 19px;
  padding-right: 38px;
}
.tx2 {
  bottom: 44px;
  margin-left: 31px;
}
.tx3 {
  margin-left: 51px;
}
.tx4 {
  bottom: 40px;
}
.tx6 {
  bottom: 10px;
}
.item:hover .textodisco {
  transform: translateY(0%);
}

.item:hover .albumimg {
  transform: scale(1.10);
  opacity: 0.3;
}




@media only screen and (min-width: 961px) {
  body {
  }
}

@media only screen and (min-width: 401px) and (max-width: 960px) {
  h1 {
  }
}

@media only screen and (max-width: 450px) {
  h1 {
    font-size: 20px;
  }
  
  .column {
    width: 100%;
  }
  .flex-item1 {
    margin: 0px
  }


}

