body {background: black;
	font-family: 'Ranga';
}
header {
}
nav {font-size: 30px;
}
h1 {text-align: center;
font-size: 50px;
color: white;
margin: 0;
padding: 0;
letter-spacing: 5px;
}
h2 {color: white;
font-weight: bold;
font-size: 30px;
font-family: cursive;
background-color: #333;
margin: 0;
padding: 0;
}
td {padding: 0;
  vertical-align: top;
}
nav ul {list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
nav li {float: left;
	border-right: 1px solid #bbb;
}
nav li a {display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
nav li a:hover {
  background-color: #111;
}
section#banda1 li {float: left;
width: 25%;
}
#submenu {position: absolute;
display: none;
padding: 0;
}
#menu li:hover #submenu {display: block;
	color: white;
}
#contact {border-color: grey;
	border-width: 6px;
	border-style: solid;
}
#banda1 {color: white;
  overflow: auto;
}
#banda2 {
  overflow: auto;
}
.historia1 {color: white;
height: 100%; 
text-align: center;
font-size: 30px;
border-color: white;
border-width: 2px;
border-style: solid;
}
.album1 {color: white
}
.contacto1 {color: white
}



@media only screen and (min-width: 961px) {
  body {
  }
}

@media only screen and (min-width: 401px) and (max-width: 960px) {
  body {
  }
}

@media only screen and (max-width: 450px) {
  body {
  }
}

